*.ipdb
*.userosscache
*.iobj
*.pch
*.userprefs
*.pgd
*.scc
*.rsuser
*.suo
*.tli
*_i.c
*.obj
*.tmp_proj
*.log
*.pidb
*.tlh
*.tmp
*.user
*.ilk
*.pdb
*_p.c
*.vsidx
*.db
*.ipch
*.exe
*.recipe
*.tlog
*.txt
*.idb
*.opendb
*.db-shm
*.db-wal
*.dll
